[data]
  projects = [
    { repo = "git-tt9:tt9/houden-bags-shopify-theme.git", path = "{{ .chezmoi.homeDir }}/development/houden-bags/shopify-theme" },
    { repo = "ssh://git-keytree/jlr/jlr-ecommerce.git", path = "{{ .chezmoi.homeDir }}/development/keytree/jlr-ecommerce" },
    { repo = "ssh://git-keytree/jlr/jlr-ecommerce-ui.git", path = "{{ .chezmoi.homeDir }}/development/keytree/jlr-ecommerce-ui" },
    { repo = "git-tt9:tt9/vorrad.git", path = "{{ .chezmoi.homeDir }}/development/vorrad/vorrad-server" }
  ]
